extends header

block content
  h1= title
  p This is the main page for Jason. Jason, which is me, enjoys playing drums and tattoos. I am almost finished in my 4th semester for 
    | Computer Programming and I hope to graduate after I complete my co-op. I really enjoy my program but sometimes it takes me a bit longer
    | to understand content sometimes. A bit of a learning curve but I'll get there!