extends header

block content
  h1= title
  p This is the main page for Mel or Melissa, which is my sister. My sister has 2 children, my niece Lilly and my nephew Taydum. Due to COVID 
    | unfortunately I have not been able to see them other than on a cell phone or computer screen. My sister works for the Simcoe County
    | School Board and in her free time she likes to relax and spend time with her kids. My sister is also older than I am by 4 years. 