extends header

block content
  h1= title
  p This is the main page for Rob, who is my father. Rob works in Orillia for a company called Polyethics Industries. This company makes industrial 
    | and commercial garbage bags and he is head of the shipping and receiving department. My father just turned 60 and unfortunately
    | he lives alone because my mom isn't around anymore. Every summer we always try to get out for at least one game of golf!